Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-use-std-min-max,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
